<section>
  <div>
    <ul>
      <li>
        <div>
          <svg></svg>
          <h2>GET INSPIRIED</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
            molestiae impedit, debitis assumenda deserunt ullam velit nemo hic
            unde.
          </p>
        </div>
      </li>
      <li>
        <div>
          <svg></svg>
          <h2>GET REWARDED</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
            molestiae impedit, debitis assumenda deserunt ullam velit nemo hic
            unde.
          </p>
        </div>
      </li>
      <li>
        <div>
          <svg></svg>
          <h2>GET SOCIAL</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
            molestiae impedit, debitis assumenda deserunt ullam velit nemo hic
            unde.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
