<section>
  <div></div>
  <div>
    <h2>INTRODUCING THE FUDI APP</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit rerum,
      nobis magnam fugiat eum hic distinctio praesentium non inventore excepturi
      assumenda reiciendis corrupti facilis autem voluptates quasi cumque sit
      velit. Commodi, dicta repudiandae. Aspernatur accusantium distinctio
      praesentium numquam nam optio tenetur saepe nobis libero enim, animi, modi
      aliquid eius quas dolor illum explicabo temporibus voluptates maxime culpa
      magnam fugiat? Culpa! Totam, temporibus perspiciatis quaerat beatae
      eligendi laboriosam quis odio eum repellendus corporis porro velit illo
      maiores, suscipit doloribus vero sit obcaecati corrupti architecto qui id!
      Pariatur consequuntur voluptate itaque voluptas.
    </p>
    <svg></svg>
    <svg></svg>
  </div>
  <div>
    <svg></svg>
    <p>
      "I am so happy becouse i found this recipe and it just made my life
      easier.Thanks so much for sharing!"
    </p>
    <p>Michael Dawson San Francisco,CA</p>
  </div>
</section>
