<header class="header">
  <nav>
    <div class="header-nav">
      <div class="header-logo">
        <!-- <img src="../images/logo.png" alt="" /> -->
        <!-- <svg class="header-img">
          <use href="./images/logo.svg"></use>
        </svg> -->
      </div>
      <div>
        <ul class="header-list">
          <li class="header-list-item">LOG IN</li>
          <li class="header-list-item">SIGN UP</li>
        </ul>
      </div>
      <div>
        <!-- <svg class="header-img">
          <use href="./menu.svg"></use>
        </svg> -->
      </div>
    </div>
  </nav>
  <section class="header-section">
    <div class="header-container">
      <p class="header-main-title">Find your Favorite</p>
      <h1 class="header-title">RECIPES</h1>
      <button class="header-button">GET STARTED</button>
      <p class="header-text">
        OR SEND US YOUR OWN RECIPES AND <a href="#">GET REWARDED!</a>
      </p>
    </div>
  </section>
</header>
