<section>
  <h2>BROWSE BY CUISINES</h2>
  <ul>
    <li>
      <p></p>
      <h3>ITALIAN</h3>
    </li>
    <li>
      <p></p>
      <h3>INDIAN</h3>
    </li>
    <li>
      <p></p>
      <h3>FRENCH</h3>
    </li>
    <li>
      <p></p>
      <h3>STEAKHOUSE</h3>
    </li>
    <li>
      <p></p>
      <h3>SEAFOOD</h3>
    </li>
    <li>
      <p></p>
      <h3>SUCHI</h3>
    </li>
    <li>
      <p></p>
      <h3>MEXICAN</h3>
    </li>
    <li>
      <p></p>
      <h3>CHINESE</h3>
    </li>
    <li>
      <p></p>
      <h3>PIZZA</h3>
    </li>
    <li>
      <p></p>
      <h3>AMERICAN</h3>
    </li>
  </ul>
  <div>
    <ul>
      <li>
        <p></p>
        <p>Recioes Available</p>
      </li>
      <li>
        <p></p>
        <p>Active Users</p>
      </li>
      <li>
        <p></p>
        <p>Positive Reviews</p>
      </li>
      <li>
        <p></p>
        <p>Photos & Videos</p>
      </li>
      <li>
        <p></p>
        <p>Spices and Herbs</p>
      </li>
    </ul>
  </div>
</section>
