.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #f7f7f7;
  display: flex;
  border-top: 1px solid #e2e2e2;
  justify-content: space-around;
}
.footer-text {
  color: #cfcfcf;
}
.footer-text-second {
  color: #8b8b8b;
}
.footer-text-second-link {
  color: black;
}
